@font-face {
   font-family: 'icomoon';
   src: url('../assets/fonts/icomoon.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

[class^='icon-'],
[class*='icon-'] {
   font-family: 'icomoon' !important;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-rotate {
   position: relative;
}

.icon-rotate:before {
   content: '\e901';
}

.icon-copy {
   position: relative;
}

.icon-copy:before {
   content: '\e903';
}

.icon-check:before {
   content: '\e900';
   cursor: pointer;
   color: #bec1c9;
}

.icon-shieldWarning:before {
   content: '\e902';
}

.icon-shieldCancel:before {
   content: '\e904';
}

.icon-shieldCheck:before {
   content: '\e905';
}
