@font-face {
  font-family: 'icomoon';
  src: url("../../static/fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='_icon'],
[class*=' icon'] {
  font-family: 'icomoon' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconCheck:before {
  content: '\e900';
  cursor: pointer;
  color: #bec1c9;
}

.item {
  width: 50%;
  display: flex;
  align-items: center;
  gap: .5em;
  padding: .5em;
}

.item:hover {
  cursor: pointer;
  background-color: rgba(236, 236, 236, 0.699);
  border-radius: .5em;
}

.select:before {
  color: #51d376;
}

.itemLabel {
  cursor: pointer;
}

@media (max-width: 425px) {
  .item {
    width: 100%;
  }
}
