@font-face {
	font-family: 'icomoon';
	src: url('../../static/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='_icon-'],
[class*=' icon-'] {
	font-family: 'icomoon' !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconRotate{
    position: relative;
}

.iconRotate:before {
	content: '\e901';
}

.iconRotate:hover::after{
    font-family: 'Inter';
    src: url('../../static/fonts/Inter/Inter.ttf') format('truetype');
    content: 'Nueva';
    position: absolute;
    width: max-content;
    padding: .5em 1em;
    bottom: 1.5em;
    transform: translateX(-50%);
    border-radius: .5em;
    background-color: rgb(56, 63, 88);
    color: white;
    font-size: .8rem;
    opacity: .7;
}

.iconCopy{
    position: relative;
}

.iconCopy:before {
    content: '\e903';
}

.iconCopy:hover::after{
    font-family: 'Inter';
    src: url('../../static/fonts/Inter/Inter.ttf') format('truetype');
    content: 'Copiar';
    position: absolute;
    width: max-content;
    padding: .5em 1em;
    bottom: 1.5em;
    transform: translateX(-50%);
    border-radius: .5em;
    background-color: rgb(56, 63, 88);
    color: white;
    font-size: .8rem;
    opacity: .7;
}

.iconShieldWarning:before {
	content: '\e902';
}

.iconShieldCancel:before {
	content: '\e904';
}

.iconShieldCheck:before {
	content: '\e905';
}

.result{
    width: 100%;
}

.container {
	width: 100%;
	border-radius: 0.5rem 0.5rem 0rem 0rem;
	padding: 1.5rem 2rem;
	box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    background-color: white;
}

.showPassword{
    overflow-x: auto;
    // white-space: nowrap;
    white-space: pre-wrap;
}

.resultSecurityBar{
    width: 100%;
    height: .5rem;
    border-radius: 0em 0em .5em .5em;
    overflow: hidden;
    background-color: white;
}

.resultSecurityBar div{
    width: 50%;
    height: 100%;
    background-color: #51d376;
}

.resultActions{
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    & span:hover{
        cursor: pointer;
        color:#757575
    }
}

@media (max-width: 425px){
    .resultActions{
        display: none;
    }
}

.resultSecurity{
    margin-top: 1em;
    color: #51d376;
    display: flex;
    gap: 1em;
    align-items: center;
}