@font-face {
	font-family: 'icomoon';
	src: url('../../static/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='_icon-'],
[class*=' icon-'] {
	font-family: 'icomoon' !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconRotate:before {
	content: '\e901';
}

.iconCopy:before {
	content: '\e903';
}

.actions{
    display: flex;
    gap: 1em;
}

@media (max-width: 425px){
    .actions{
        flex-direction: column;
        & button{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

.btn{
    outline: none;
    border: none;
    padding: 1em 2em;
    border-radius: .5em;
    cursor: pointer;
    color: white;
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: .9rem;
}

@media (max-width: 425px){
    .btn{
        padding: 1.5em;
        font-size: .9rem;
    }
}

.actionRefresh{
    background-color: #5186d4;
    &:hover{
        background-color: #3e70b9;
    }
}

@media (min-width: 426px){
    .actionRefresh{
        display: none;
    }
}

.actionCopy{
    background-color: #51d376;
    &:hover{
        background-color: #49c46b;
    }
}